body {
  margin: 0;
  padding: 0 5vw;
  font-family: "Raleway", sans-serif;
  background-color: rgba(0, 0, 0, 0.95);
}

div {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
